<!DOCTYPE html>

<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Search Employees</title>
    <link rel="stylesheet" href='{% static "demo/styles.css" %}'/>
    <script src='{% static "demo/jquery-3.2.1.js" %}'></script>
    <script>
         function searchEmployees()
         {
              if($("#name").val() == "")
              {
                   $("#error").text("Please enter name!")
                   return;
              }
              $("#error").text("")

              $.getJSON("/demo/get_employees/" + $("#name").val(),{},
                 showEmployees);
         }
         function showEmployees(result) {
              if (result.length == 0)
              {
                 $("#employees").html("Sorry! No employees found!");
                 return;
              }

              $("#employees").html("");
              output = "<ul>";
              $.each(result,
                  function(idx,emp) {
                       output += "<li>" + emp.name + " - " + emp.salary + "</li>"
                  }
              );
              $("#employees").html( output + "</ul>")
         }
    </script>
</head>
<body>
   <h2>Search Employees</h2>
   Name <input type="text" id="name" />
   <button onclick="searchEmployees()">Search</button>
   <span id="error"></span>
   <p></p>
   <div id="employees">

   </div>


</body>
</html>